                  /* Cursor */
          
          #Home {
            cursor: pointer;
          }
          
          #Spotify {
            cursor: pointer;
          }
          
          #Gmail {
            cursor: pointer;
          }
          
          #Calendar {
            cursor: pointer;
          }
          
          .tab {
            position: relative;
            opacity: 1;
          }

          .current {
            position: relative;
            opacity: 1;
          }
          
          .tab:active > div {
            display: block;
            opacity: 0.5;
            -webkit-transition: opacity 1s ease-in-out;
            -moz-transition: opacity 1s ease-in-out;
            -o-transition: opacity 1s ease-in-out;
            transition: opacity 1s ease-in-out;
            background-position: center;
            background-image: url(https://johnrafla.github.io/Line.png);
            background-size: 100%;
            width: 50px;
            height: 10px;
          }

          
          
          /* Hover */
          
          .tab:hover > div {
            display: block;
            background-position: center;
            background-image: url(https://johnrafla.github.io/Hover.gif);
            background-size: 100%;
            width: 50px;
            height: 10px;
            opacity: 1;
          }
          
          
          /* Active Links */
          
          .tab:active > div {
            display: block;
            opacity: 0.2;
            background-image: url(https://johnrafla.github.io/Line.png);
            background-size: 100%;
            width: 50px;
            height: 10px;
          }
          
          
          /* The Gif CSS */
          
          #gif {
            display: none;
            visibility: hidden;
          }
          
          
          /* The Line CSS */
          
          #line {
            display: none;
          }

            a {
            color: transparent;
            }
            a:active {
            color: transparent;
            }
            a:visited {
            color: transparent;
            }
            a:hover {
            color: transparent;
            }

            .switcher_button {
              display: inline-block;
              font-size: large;
              font-family: "Bitter",serif;
              line-height: 1;
              color: rgb(78, 77, 77);
              background-color: #c7c7c7;
              text-shadow: -1px 1px #a3aab1;
              border-radius: 10px;
              border-color: #817a7a;
            }

            .switcher_button:hover {
              cursor: pointer;
              border-color: #8b9299;
              color: #4e4c4c;
              background-color: #aca0a0;
            }

            .switcher_button:active {
              background-color: #817a7a;
            }