                  /* Cursor */
          
          #HomeIcon {
            cursor: pointer;
          }
          
          #SpotifyIcon {
            cursor: pointer;
          }
          
          #GmailIcon {
            cursor: pointer;
          }
          
          #CalendarIcon {
            cursor: pointer;
          }
          
          .tab {
            position: relative;
            opacity: 1;
          }

          .current {
            position: relative;
            opacity: 1;
          }
          

          /* Hover */
          .tab:hover > div {
            display: block;
            opacity: 0.5;
            -webkit-transition: opacity 1s ease-in-out;
            -moz-transition: opacity 1s ease-in-out;
            -o-transition: opacity 1s ease-in-out;
            transition: opacity 1s ease-in-out;
            background-position: center;
            background-image: url(https://johnrafla.github.io/Line.png);
            background-size: 100%;
            width: 50px;
            height: 10px;
          }
          
          .tab:hover > div {
            display: block;
            opacity: 0.2;
            background-image: url(https://johnrafla.github.io/Line.png);
            background-size: 100%;
            width: 50px;
            height: 10px;
          }

          /* Active */
          
          .tab:active > div {
            display: block;
            opacity: 1;
            background-image: url(https://johnrafla.github.io/Line.png);
            background-size: 100%;
            width: 50px;
            height: 10px;
          }
          
          
          /* The Line CSS */
          
          #line {
            display: none;
          }

            a {
            color: transparent;
            }
            a:active {
            color: transparent;
            }
            a:visited {
            color: transparent;
            }
            a:hover {
            color: transparent;
            }

            .switcher_button {
              display: inline-block;
              font-size: large;
              font-family: "Bitter",serif;
              line-height: 1;
              color: rgb(78, 77, 77);
              background-color: #c7c7c7;
              text-shadow: -1px 1px #a3aab1;
              border-radius: 10px;
              border-color: #817a7a;
            }

            .switcher_button:hover {
              cursor: pointer;
              border-color: #8b9299;
              color: #4e4c4c;
              background-color: #aca0a0;
            }

            .switcher_button:active {
              background-color: #817a7a;
            }


            .content div#Home,
            .content div#Spotify,
            .content div#Gmail,
            .content div#Calender,
            .content div#Powerschool,
            .content div#Drive,
            .content div#Schoology,
            .content div#Schedule {
              visibility: hidden;
              display: none;
          }
          
          .content div#Home:target,
          .content div#Spotify:target,
          .content div#Gmail:target,
          .content div#Calender:target,
          .content div#Powerschool:target,
          .content div#Drive:target,
          .content div#Schoology:target,
          .content div#Schedule:target {
            visibility: visible;
            display: block;
        }