/* Cursor */

#Home {
  cursor: pointer;
}

#Spotify {
  cursor: pointer;
}

#Gmail {
  cursor: pointer;
}

#Calendar {
  cursor: pointer;
}

.tab {
  position: relative;
}

.tab > div {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}


/* Hover */

.tab:hover > div {
  display: block;
  background-position: center;
  background-image: url(https://johnrafla.github.io/Hover.gif);
  background-size: 100%;
  width: 50px;
  height: 10px;
  /* must have the same aspect ratio of the original */
}


/* Active Links */

.current:active ~ #gif {
  display: block;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}


/* The Gif CSS */

#gif {
  display: none;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}


/* The Line CSS */

#line {
  display: none;
}


/* container stuff */

.container {
  display: flex;
}

.container > div {
  flex: 1;
  /*grow*/
}
