me {
    position: absolute;
}
WelcomeText {
    position: center;
}
Spotify.png {
    position: relative;
}
Gmail.png {
    position: relative;
}
Calender.png {
    position: relative;
}
Classroom.png {
    position: relative;
}